
label {
  display: block;
}

input, textarea, select, button {
  margin: .25rem;
  font-size: 1rem;
  border-radius: 2px;
  border: 1px solid #333; 
  background-color: #fff;
}

/* input[type="text"] {
  
} */

input[type="number"] {
  width: 40px;
}

input:focus {
  outline: none;
}

table > input {
  margin: 0;
}

table {
  border-collapse: collapse; 
  border: 2px solid black;
}

tr td {
  border-bottom: 1px solid black;
}

button {
  background-color: lightgrey;
}

button:hover {
  background-color: #fff;
  color: #333;
}