form {
  
}

label {
  /* float: left; */
  display: block;
  /* width: 10rem; */
}

input, textarea, select, button {
  font-size: 1rem;
  border: 1px solid grey;
  border-radius: 3px;
  /* margin: .25rem; */
  /* width: 2rem; */
  /* float: right; */
}

input[type="text"] {
}

input[type="number"] {
  width: 40px;
  /* border: 1px solid grey; */
}

table > input {
  margin: 0;
}