#home-container {
  height: calc(100vh - 50px);
  background-image: url("../images/StockSnap_771S335ARZ.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#home {
  border-radius: 10px;
  margin: auto;
  position: absolute;
  padding: 2rem;
  text-align: center;
  vertical-align: middle;
  background-color: #fdfcfa;
  opacity: .7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.jumbo-text {
  display: block;
  font-size: 3rem;
  text-align: center;
  padding: 1rem;
  color: #1dbad3; }

.jumbo-text, #home h2 {
  margin-top: 0;
  margin-bottom: 0; }

.jumbo-link {
  padding: .5rem 1rem;
  vertical-align: middle;
  font-size: 1.5rem;
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 5px; }

.jumbo-link {
  background-color: #000;
  color: #fdfcfa;
  display: inline-block;
  margin: 1rem; }

.jumbo-link:hover {
  background-color: #1dbad3;
  color: #000; }
